@import './tailwind.css';
@import './base.css';

@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: 'Montserrat', 'Roboto Slab', sans-serif;

  scroll-behavior: smooth;

  background: var(--color-bg);
  color: var(--vt-c-black-soft);

  // background-image: url('/bg.jpg');
  // background-blend-mode: overlay;
  // background-size: cover;
}

.typed-cursor {
  display: none;
}
