@import './tailwind.css';
@import './base.css';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: 'Montserrat', 'Roboto Slab', sans-serif;

  scroll-behavior: smooth;

  background: var(--color-bg);
  color: var(--vt-c-black-soft);

  // background-image: url('/bg.jpg');
  // background-blend-mode: overlay;
  // background-size: cover;
}

.typed-cursor {
  display: none;
}
